{% extends "base.html" %}

{% block content %}
    <h2>Log In</h2>
    <form action="" method="POST" class="login form">
        {{ form.hidden_tag() }}

        <div class="label">
        {{ form.username.label }}:
        </div>

        <div>
        {{ form.username(size=25) }}
        </div>

        <div class="label">
        {{ form.password.label }}:
        </div>

        <div>
        {{ form.password(size=25) }}
        </div>
        <div></div>
        <div class="loginRemember"> {{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div></div>
        <div class="loginSubmit"> {{ form.submit() }}</div>
    </form>
{% endblock %}