{% extends "base.html" %}

{% block content %} 
    {% if tasks %}
    <h3>TO DO</h3>
    <table>
        <tr>
            <!-- <th>Id</th> -->
            <th>Task</th>
            <th>Added on:</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <!-- <td> {{ task.id }} </td> -->
            <td> {{ task.content }} </td>
            <td> {{ task.date_created.date() }} </td>
            <td> 
                <!-- <a href="/delete/{{task.id}}"> Delete</a>       -->
                <a href= "{{ url_for('delete', id=task.id) }}""> Delete</a>      
                <br>
                <a href={{ url_for('update', id=task.id) }}> Update</a>      
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h3>No data. Add some!</h3>
    {% endif %}
    <form action="" method="POST">
        <input type="text" value="" id="task_content" name="content"> 
        <input type="submit" value="Ok">
    </form>
{% endblock %}